node_modules/
apps/*
!apps/tsconfig.json
!apps/slash-commands/
!apps/slash-commands/**
!apps/component-listeners/
!apps/component-listeners/**
.env*
!.env.example
coverage/
dist/
docs/.astro/
docs/dist/
*.tgz
*.tsbuildinfo
.DS_Store
